/* .conteudo {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto; 
} */

.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  grid-column: 3;
}

.box-conteudo {
  display: grid;
  padding: 40px 20px 0 40px;
  border-radius: 8px;
  background: var(--bg-box);
  align-content: start;
}

.box-perfil {
  text-align: center;
  padding: 46px 0px;
  position: relative;
  display: grid;
}

.titulo {
  font-size: 1.12rem;
  padding-top: 20px;
}

.subtitulo {
  color: var(--subtitulo-color);
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.titulo-conteudo {
  color: var(--strong-color);
  font-size: 1.12rem;
}

.cargo {
  font-size: 0.9rem;
  margin: 10px;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 0 20px 0;
}

.links {
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 0 20px 0;
  margin: 0 54px 0 54px;
  text-align: left;
}

span {
  position: absolute;
  left: 32px;
  padding: 8px;
}
