.intro {
  max-width: 1200px;
  padding: 30px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.intro-perfil {
  height: 530px;
  width: 324px;
  border-radius: 8px;
  background: var(--bg-box);
}

.intro-foto {
  justify-content: center;
  display: grid;
}

.sobre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
}

.sobre-conteudo,
.formacao {
  display: grid;
  width: 530px;
  height: 250px;
  border-radius: 8px;
  background: var(--bg-box);
  padding: 20px;
  font-size: 0.74rem;
  color: var(--strong-color);
  grid-column: 1;
}

.experiencia {
  display: grid;
  width: 530px;
  height: 250px;
  border-radius: 8px;
  background: var(--bg-box);
  padding: 20px;
  font-size: 0.74rem;
  color: var(--strong-color);
  grid-column: 2;
}

.portfolio {
}

.contato {
}
