@import url(./header.css);
@import url(./box.css);

:root {
  --bg-box: #f8f8f8;
  --a-hover: #3543c6;
  --subtitulo-color: #999999;
  --strong-color: #3543c6;
  --text-info: #2D2C2C;
}

body {
  font-family: "Nunito", sans-serif;
  display: grid;
  margin: 50px;
  padding-left: 42px;
}
