@import url(./global.css);
@import url(./header.css);
@import url(./intro.css);
@import url(./box.css);

:root {
  --bg-box: #f8f8f8;
  --a-hover: #3543c6;
  --subtitulo-color: #999999;
  --strong-color: #3543c6;

}

